body{
    background: #b2b2b4;
}

.card{
box-sizing: border-box;
position: absolute;
width: 927px;
height: 272px;
left: 51px;
top: 449px;

background: #FFFFFF;
border: 1px solid rgba(200, 200, 200, 0.2);
border-radius: 15px;
}

.img{
    position: absolute;
width: 200px;
height: 188px;
left: 21px;
top: 42px;
border-radius: 15px;
}

.name{
    position: absolute;
width: 149px;
height: 27px;
left: 245px;
top: 37px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
/* identical to box height */


color: #000000;
}

.profesion{
    position: absolute;
width: 99px;
height: 24px;
left: 245px;
top: 65px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;

color: #696565;
}

.description{
    position: absolute;
width: 262px;
height: 38px;
left: 245px;
top: 163px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;
}

.btn_calendar{
position: absolute;
width: 192px;
height: 55px;
left: 692px;
top: 123px;

background: #348BCB;
border-radius: 15px;
}

.btn_contact{
    position: absolute;
width: 192px;
height: 55px;
left: 692px;
top: 192px;

background: #B9B6B6;
border-radius: 15px;
}

.icon_heart{
    position: absolute;
left: 2.33%;
right: 2.33%;
top: 8.32%;
bottom: 6.49%;

background: #FCFCFD;
}

.star{
 position: absolute;
width: 46px;
height: 41px;
left: 669px;
top: 32px;
color: yellow;

}

.rating{
    position: absolute;
width: 48px;
height: 39px;
left: 730px;
top: 34px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
color: #000000;
}

.reviews{
    position: absolute;
width: 101px;
height: 24px;
left: 669px;
top: 76px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;

color: #696565;
}

.check{

position: absolute;
left: 44%;
right: 52.21%;
top: 14%;
bottom: 76.47%;
color: #73E31B;
}

.price{
position: absolute;
width: 35px;
height: 39px;
left: 811px;
top: 34px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 39px;
color: #000000;
}
.tarif_min{
    position: absolute;
width: 97px;
height: 24px;
left: 804px;
top: 76px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;

color: #696565;
}

.contrat{
    position: absolute;
width: 103px;
height: 18px;
left: 282px;
top: 117px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;

color: #696565;

}

.numberJobs{
    position: absolute;
width: 166px;
height: 18px;
left: 420px;
top: 117px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;

color: #696565;
}

.icon_profile{
    position: absolute;
left: 26.2%;
right: 70.44%;
top: 41.18%;
bottom: 50.74%;
color: #2D3648;
}