@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  background: "bg-landingBackground";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-color: red; */

  /* width: auto; */
  height: 900px;
  /* display: flex;
    justify-content: center; */
  text-align: center;
  position: relative;
}

.center {
  position: absolute;
  top: 35%;
  width: 100%;
}
.text1 {
  color: aliceblue;
}

.text2 {
  color: aliceblue;
}

.search {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

@layer base {
  @font-face {
    font-family: "Poppins";
  }
  * {
    padding: 0;
    left: 0;
    box-sizing: border-box;
    font-family: "Poppins";
  }
  .sidebar-container {
    @apply bg-[#2D3979] h-[96%] w-[20rem] rounded-3xl ml-6 p-4 border transition-all duration-500 border-solid border-glass relative
  }
  .sidebar {
    @apply flex items-center mt-2 p-4 rounded-lg cursor-pointer hover:bg-white transition-all duration-300
  }
  
}
