@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  background: "bg-landingBackground";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-color: red; */

  /* width: auto; */
  height: 900px;
  /* display: flex;
    justify-content: center; */
  text-align: center;
  position: relative;
}

.center {
  position: absolute;
  top: 35%;
  width: 100%;
}
.text1 {
  color: aliceblue;
}

.text2 {
  color: aliceblue;
}

.search {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
