@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ._btn-white {
    @apply p-2 flex items-center justify-center text-gray-800 bg-gray-50 border border-transparent rounded-md font-medium w-full hover:bg-gray-200 hover:no-underline;
  }
  ._btn-bordered {
    @apply p-2 flex items-center justify-center text-gray-50 border border-gray-50 rounded-md font-medium text-center cursor-pointer w-full hover:bg-gray-50 hover:text-black hover:no-underline;
  }
  ._input {
    @apply text-gray-50 mb-3 w-full bg-slate-700 py-2 px-3 rounded-md outline-none border border-transparent focus:border-gray-400 focus:border;
  }
  ._title {
    @apply font-semibold text-gray-50 text-left w-full text-2xl mb-4;
  }
  ._sub-title {
    @apply text-gray-400 text-sm mb-2;
  }
}

.container {
  background: "bg-landingBackground";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-color: red; */

  /* width: auto; */
  height: 900px;
  /* display: flex;
    justify-content: center; */
  text-align: center;
  position: relative;
}

.center {
  position: absolute;
  top: 35%;
  width: 100%;
}
.text1 {
  color: aliceblue;
}

.text2 {
  color: aliceblue;
}

.search {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
