.container_videogames{
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
}


/* */
/*descripcion*/
.description_barra {
    border-bottom: 1px solid rgba(165, 164, 164, 0.432);
    border-top: 1px solid  rgba(204, 201, 201, 0.432);

    overflow: auto;
}

/* Personalizamos el scrollbar */
.description_barra::-webkit-scrollbar{
    background-color: rgb(150, 155, 155);
    border-radius: 2px;

    height: 3px;
    width: 3px;
}
.description_barra::-webkit-scrollbar-thumb{
    border-radius: 2px;

    background-color: rgba(44, 45, 48, 0.733);
}

/* border */
.fra_border{
    border-radius: 10px;
}

.fra_border_5{
    border-radius: 5px;
}


.hov_acceptar{
    font-size: 13px;
    color: rgb(39, 38, 38);
    transition: 0.1s;
    font-weight: 700;
}

.hov_acceptar:hover{
    color: rgb(5, 5, 5);
}