
.input{
    position: absolute;
    width: 500px;
    height: 92px;
    left: 353px;
    top: 335px;
    background: #FFF1F1;
    border-radius: 28px;
}

.btn{
    position: absolute;
width: 222px;
height: 100px;
left: 860px;
top: 335px;
background: #06159B;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 33px;
line-height: 40px;
border-radius: 28px;
border: none;
color: #FFF1F1;
}